@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer components{
  .infoText{
    @apply p-4 bg-purple-700/10 rounded-lg max-w-[300px] mb-2;

  }

  .chatRow{
    @apply rounded-lg p-2 text-sm flex items-center justify-center space-x-2 space-y-2 m-2.5 hover:bg-gray-700/70 dark:hover:bg-gray-800 cursor-pointer text-gray-300 transition-all duration-200 ease-out;
  }

  .chatRowDisplay{
    @apply flex flex-col items-center justify-between ;

  }
  
}